extends layout
block content
    //- navigation
    nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
        div(class="container-fluid")
            a(href="/" class="navbar-brand") Opsilo
            div(class="collapse navbar-collapse")
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item active")
                        a(href="/" class="nav-link") Home
                    li(class="nav-item active")
                        a(href="/" class="nav-link") Board
    
    div(class="container")
        br
        h1(class="display-3") New Post
        hr(class="featurette-divider")
        form(method="POST" action="/")
            div(class="input-group mb-2")
                span(class="input-group-text") Title
                input(type="text" name="title" class="form-control" placeholder="title")
            div(class="input-group mb-2")
                span(class="input-group-text") Author
                input(type="text" name="author" class="form-control" placeholder="Author")
            div(class="input-group mb-3")
                span(class="input-group-text") Content
                textarea(class="form-control" rows=12 name="content")
            a(href="/" class="btn btn-secondary") Back
            input(type="submit" class="btn btn-primary float-end" value="OK")